body {
  font-family: 'Quicksand', sans-serif;
  background: linear-gradient(135deg, #1a1a2e, #16213e, #1a1a2e);
  background-attachment: fixed;
  overflow-x: hidden;
}

.main-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  position: relative;
  z-index: 10;
  background-image: url('./assets/login-register-bg.jpg')
}

.content-wrapper {
  display: flex;
  flex-direction: column;
}

.glass-container {
  border-radius: 1rem;
  width: 50%;
  max-width: 1024px;
  overflow: hidden;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.5);
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(10px);
}

/* Left panel heading*/
.left-panel {
  width: 45%;
  padding: 2rem;
  text-align: center;
  color: white;
  background: transparent;
}

.heading {
  font-size: 2rem;
  font-family: 'Pacifico', cursive;
  margin-bottom: 1rem;
  color: white;
  text-align: center;
}

.star {
  position: absolute;
  background-color: white;
  border-radius: 50%;
  animation: twinkle 4s infinite;
}

@keyframes twinkle {

  0%,
  100% {
    opacity: 0.2;
  }

  50% {
    opacity: 1;
  }
}

/* Forms */
.form-input {
  width: 40%;
  padding: 0.75rem 1rem 0.75rem;
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  color: white;
  outline: none;
  display: block;
  margin: 0 auto;
}

.form-input:focus {
  box-shadow: 0 0 0 2px rgba(138, 111, 223, 0.5);
}

.auth-button {
  width: 30%;
  padding: 0.75rem;
  background-image: linear-gradient(to right, #8A6FDF, #FF9EE5);
  color: white;
  font-weight: 500;
  border-radius: 8px;
  cursor: pointer;
  transition: opacity 0.3s ease;
  display: block;
  margin: 10px auto;
}

.auth-button:hover {
  opacity: 0.9;
}

.reset-message {
  text-align: center;
  color: #10b981; /* This is Tailwind's green-500 */
  margin-bottom: 1rem;
  font-weight: bold;
}

/* Mobile Responsiveness */
@media (min-width: 768px) {

}