body {
  background: url(../assets/dark_mode.jpg);
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: white;
}

.show-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .8);
  z-index: 2;
}

.hide-overlay {
  display: none;
} 

.show-delete-acc-prompt {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .8);
  z-index: 2;
}

.hide-delete-acc-prompt {
  display: none;
}

/* Navigation CSS */
#navigation {
  gap: 500px;
  background-color: rgba(255, 255, 255, .4);
  padding-left: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  padding: 1rem 2rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#navigation h3 {
  font-family: 'Pacifico', cursive;
  font-size: 1.3rem;
  color: white;
  margin: 0;
}

#buttons_container {
  display: flex;
  gap: 1em;
  align-items: center;
  background: rgba(255, 255, 255, 0.05);
  background-color: rgba(255, 255, 255, .15);
  border-radius: 10px;
  padding: 0.5rem 1rem;
  margin: 5px 0;
}

#buttons_container button {
  background-color: transparent;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-weight: 500;
  transition: background 0.2s;
}

#buttons_container button:hover,
#buttons_container button:focus, 
#buttons_container .back-to-dashboard:hover{
  background: rgba(255, 255, 255, 0.15);
  font-weight: bold;
}

/* Logout Button */
#logout_btn {
  background: transparent;
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: color 0.2s, background-color 0.2s;
}

#logout_btn:hover {
  background-color: rgba(255, 0, 0, 0.1);
  color: #fe2819;
  font-weight: bold;
}

/* Account Information CSS */
#section {
  max-width: 800px;
  margin: 2rem auto;
  background-color: rgba(255, 255, 255, .4);
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  padding: 2rem;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  height: 120vh;
}

/* Account Information Container */
.show-account-info { 
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  margin: 100px auto;
  align-items: center;
  gap: 1rem;
  padding-top: 1em;
}

.hide-account-info {
  display: none;
}

#account_information_container form {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1rem 1.5rem;
  align-items: center;
}

#account_information_container form {
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: white;
  padding: 0.75rem;
  border-radius: 8px;
  width: 100%;
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#account_information_container
#save_btn {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 20em;  
}

#account_information_container h2,
#account_information_container p {
  margin: 0 0 0.5rem 0;
}

.update-success {
  background-color: rgba(76, 175, 80, 0.2);
  border-left: 4px solid #4CAF50;
  padding: 1rem;
  margin-bottom: 1rem;
  color: #dcedc8;
  font-weight: bold;
}

#first_name {
  margin-left: 90px;
}

#middle_name {
  margin-left: 70px;
}

#last_name {
  margin-left: 90px;
}

#username_input {
  margin-left: 95px;
}

#email {
  margin-left: 130px;
}

#birthdate {
  margin-left: 100px;
}

#account_information_container #save_btn {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  margin-left: 90px;
  border-radius: 9999px;
  height: 5vh;
}

#account_information_container #save_btn:hover {
  background-color: #227024;
  color: rgb(255, 255, 255);
  font-weight: bold;
  cursor: pointer;
}

#account_information_container input:focus {
  outline: none;
  border-color: #8A4FFF;
  box-shadow: 0 0 0 2px rgba(138, 79, 255, 0.3);
}

#account_information_container label {
  margin-bottom: 0.25rem;
  font-weight: 500;
}

.acct-info-input {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 25em;
  height: 2em;
  background-color: rgba(255, 255, 255, .10);
  color: wheat;
  font-size: medium;
}

.acct-info-input::placeholder  {
  color: rgba(255, 255, 255, .40);
}

/* Save Button */
#save_btn {
  display: block;
  margin: 1.5rem auto 0;
  background-color: #8A4FFF;
  color: white;
  padding: 0.6rem 1.5rem;
  border: none;
  border-radius: 9999px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background-color 0.2s ease;
}

#save_btn:hover {
  background-color: #7644e0;
}

/* Connected Accounts */
#connected_accts_container {
  margin-top: 2rem;
  padding-top: 1rem;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  text-align: center;
}

#connected_accts_container h4 {
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

/* Account for Connected Accounts */
.account-buttons {
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
}

.account-btn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  border: none;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 9999px;
  color: white;
  cursor: pointer;
  transition: background 0.2s;
  font-weight: 500;
}

.account-btn img {
  width: 20px;
  height: 20px;
}

.account-btn:hover {
  background: rgba(255, 255, 255, 0.2);
}

/* Privacy and Security Settings */
#section {
  max-width: 1000px;
  width: 90%;
  margin: auto;
  margin-top: 5vh;
  padding: 2rem;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  box-sizing: border-box;
}

/* Privacy & Settings Container */
.show-privacy-settings {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 0em;
}

.hide-privacy-settings {
  display: none;
}

#privacy_settings_container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  padding: 0 20px;
  width: auto;
  gap: 1em;
}

#privacy_settings_container
#change_password_btn,
#delete_account_btn {
  padding: px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 20em;
}

#privacy_settings_container #change_password_btn {
  margin-top: 20px;
  background-color: #4CAF50;
  border: none;
  border-radius: 9999px;
  padding: 10px;
  color: white;
  cursor: pointer;
}

#privacy_settings_container #change_password_btn:hover {
  background-color: #1f6421;
  font-weight: bold;
}

#old_password {
  margin-left: 100px;
}

#new_password {
  margin-left: 95px;
}

#confirm_new_password {
  margin-left: 35px;
}

.old-pass, .new-pass, .confirm-pass {
  height: 8vh;
  width: 30vw;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 10px;
  background-color: rgba(255, 255, 255, .15);
  color: white;
  font-size: large;
}

.old-pass::placeholder, 
.new-pass::placeholder, 
.confirm-pass::placeholder {
  color: rgba(255, 255, 255, .40);
}

#delete_account_btn {
  margin-top: 10em;
  background-color: #f44336;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 9999px;
  padding: 10px;
}

#delete_account_btn:hover {
  background-color: #d32f2f;
  font-weight: bold;
}

.show-logout-question {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 20px 50px;
  position: fixed;
  z-index: 1;
  top: 35%;
  left: 34%;
}

.show-logout-question h2 {
  text-align: center;
}

#logout_question .logout-buttons {
  display: flex;
  flex-direction: row;
  gap: 3em;
}

.hide-logout-question {
  display: none;
}

.buttons {
  width: 7em;
  height: 2.5em;
}

.logout-btn {
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 9999px;
  padding: 10px;
  cursor: pointer;
}

.logout-btn:hover {
  background-color: #d32f2f;
  font-weight: bold;
}

.cancel-btn {
  background-color: #8A4FFF;
  color: white;
  border: none;
  border-radius: 9999px;
  padding: 10px;
  cursor: pointer;
}

.delete-acc-prompt {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 20px 50px;
  position: fixed;
  z-index: 1;
  top: 35%;
  left: 23%;
  gap: 1em;
}

.delete-acc-prompt h2 {
  text-align: center;
}

.delete-acc-buttons {
  display: flex;
  flex-direction: row;
  gap: 3em;
}

.delete-btn {
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 9999px;
  padding: 10px;
  cursor: pointer;
}

.checkbox-container {
  display: flex;
  flex-direction: row;
  gap: 1em;
  margin-top: 30px;
}

.checkbox {
  width: 10px;
  height: 20px;
  transform: scale(2.0);
}

.checkbox-container label {
  display: flex;
  align-items: center;
}

.back-to-dashboard {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
}

.back-to-dashboard:hover {
    
}

/* Responsiveness */

/* Mobile S */
@media (max-width: 320px) {
  #navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    gap: 0;
    width: 100vw;
  }

  #navigation h3 {
    margin: 1em 0;
    font-size: 1.2rem;
  }

  #buttons_container {
    flex-direction: row;
    justify-content: center;
    width: 94vw;
    padding: 5px;
  }

  #section {
    margin: 0;
    margin-top: 20px;
    height: 151vh;
    width: 100vw;
    padding: 1em 1em 9em 1em;
  }

  .show-account-info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 200px;
  }

  #account_information_container h2,
  p {
    text-align: center;
  }

  #account_information_container form {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-left: 0px;
    width: 86vw;
    padding: 5px;
  }

  .acct-info-input {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 8em;
    height: 2em;
  }

  #account_information_container #save_btn {
    margin-top: 20px;
    margin-left: 4em;
    width: 50vw;
    height: 8vh;
  }

  #first_name {
    margin-left: 50px;
  }

  #middle_name {
    margin-left: 33px;
  }

  #last_name {
    margin-left: 50px;
  }

  #username_input {
    margin-left: 55px;
  }

  #email {
    margin-left: 90px;
  }

  #birthdate {
    margin-left: 65px;
  }

  #privacy_settings_container {
    align-items: center;
    margin-top: 9em;
  }

  #old_password {
    margin-left: 0px;
  }

  .old-pass {
    width: 70vw;
  }

  .old-pass-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
  }

  #new_password {
    margin-left: 0;
  }

  .new-pass {
    width: 70vw;
  }

  .new-pass-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
  }

  #confirm_new_password {
    margin-left: 0;
  }

  .confirm-pass-container {
    width: 75vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
  }

  .confirm-pass {
    width: 70vw;
  }

  #privacy_settings_container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    padding: 40px 10px;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    backdrop-filter: blur(10px);
  }

  #privacy_settings_container #change_password_btn {
    margin-left: 5px;
    width: 45vw;
  }

  #delete_account_btn {
    margin-left: 10px;
    margin-top: 50px;
    width: 45vw;
  }

  .show-logout-question {
    width: 50vw;
    left: 30px;
  }

  .delete-acc-prompt {
    width: 50vw;
    top: 25%;
    left: 27px;
  }
}

@media (min-width: 321px) and (max-width: 375px) {
  #navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0px;
    gap: 0;
    width: 100vw;
    padding: 0;
  }

  #navigation h3 {
    margin: 1em 0;
    font-size: 1.2rem;
  }

  #buttons_container {
    flex-direction: row;
    justify-content: center;
    width: 94vw;
    padding: 5px;
  }

  #section {
    margin: 0;
    margin-top: 10px;
    height: 151vh;
    width: 100vw;
    padding: 0 1em 6em 1em;
  }

  .show-account-info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }

  #account_information_container {
    margin-top: 180px;
  }

  #account_information_container h2,
  p {
    text-align: center;
  }

  #account_information_container form {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-left: 0px;
    width: 86vw;
    padding: 5px;
  }

  #account_information_container input {
    width: 50vw;
  }

  #account_information_container #save_btn {
    margin-top: 20px;
    width: 40vw;
    height: 8vh;
  }

  #first_name {
    margin-left: 30px;
  }

  #middle_name {
    margin-left: 16px;
  }

  #last_name {
    margin-left: 33px;
  }

  #username_input {
    margin-left: 38px;
  }

  #email {
    margin-left: 68px;
  }

  #birthdate {
    margin-left: 45px;
  }

  #privacy_settings_container {
    margin-top: 100px;
    align-items: center;
  }

  #privacy_settings_container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    padding: 50px 30px;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    backdrop-filter: blur(10px);
  }

  #privacy_settings_container form {
    width: 80vw;
  }

  #privacy_settings_container #change_password_btn {
    margin-left: 10px;
    width: 45vw;
  }

  #delete_account_btn {
    margin-left: 10px;
    margin-top: 30px;
    width: 45vw;
  }

  .show-logout-question {
    width: 55vw;
    left: 35px;
  }

  .delete-acc-prompt {
    width: 50vw;
    top: 25%;
    left: 11%;
  }

  .old-pass-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
  }

  .new-pass-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
  }

  .confirm-pass-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
  }

  .old-pass {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    width: auto;
  }
  
  .new-pass {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    width: auto;
  }

  .confirm-pass {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    width: auto;
  }

  #old_password {
    margin-left: 0;
  }

  #new_password {
    margin-left: 0;
  }

  #confirm_new_password {
    margin-left: 0;
  }
}

@media (min-width: 376px) and (max-width: 425px) {
  #navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0px;
    gap: 0;
    width: 100vw;
    padding: 0;
  }

  #navigation h3 {
    margin: 1em 0;
    font-size: 1.2rem;
  }

  #buttons_container {
    flex-direction: row;
    justify-content: center;
    width: 94vw;
    padding: 5px;
  }

  #section {
    margin: 0;
    margin-top: 10px;
    height: 151vh;
    width: 100vw;
    padding: 0 1em 6em 1em;
  }

  .show-account-info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }

  #account_information_container h2,
  p {
    text-align: center;
  }

  #account_information_container form {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-left: 0px;
    width: 86vw;
    padding: 5px;
  }

  #account_information_container input {
    width: 50vw;
  }

  #account_information_container #save_btn {
    margin-top: 20px;
    margin-left: 100px;
    width: 40vw;
    height: 8vh;
  }

  #first_name {
    margin-left: 30px;
  }

  #middle_name {
    margin-left: 16px;
  }

  #last_name {
    margin-left: 33px;
  }

  #username_input {
    margin-left: 38px;
  }

  #email {
    margin-left: 68px;
  }

  #birthdate {
    margin-left: 45px;
  }

  #privacy_settings_container {
    margin-top: 80px;
    align-items: center;
    height: auto;
  }

  #privacy_settings_container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    padding: 50px 10px;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    backdrop-filter: blur(10px);
  }

  #privacy_settings_container form {
    width: 90vw;
  }

  #privacy_settings_container #change_password_btn {
    margin-left: 10px;
    width: 45vw;
  }

  #delete_account_btn {
    margin-top: 2em;
    margin-left: 15px;
    width: 45vw;
  }

  .show-logout-question {
    width: 60vw;
    left: 40px;
  }

  .delete-acc-prompt {
    width: 50vw;
    top: 25%;
    left: 14%;
  }

  .old-pass-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
  }

  .new-pass-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
  }

  .confirm-pass-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
  }

  .old-pass {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    width: auto;
  }
  
  .new-pass {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    width: auto;
  }

  .confirm-pass {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    width: auto;
  }

  #old_password {
    margin-left: 0;
  }

  #new_password {
    margin-left: 0;
  }

  #confirm_new_password {
    margin-left: 0;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  #navigation {
    position: sticky;
    top: 0;
    overflow: hidden;
    padding-left: 50px;
    gap: 2rem;
    flex-direction: column;
    align-items: flex-start;
    z-index: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  #navigation h3 {
    margin: 1em 0;
    font-size: 1rem;
  }

  #buttons_container {
    gap: 0;
    align-content: center;
  }

  #section {
    margin: 10px 40px;
    height: 160vh;
    padding: 1rem;
  }

  #buttons_container {
    flex-wrap: wrap;
    justify-content: center;
    width: 40%;
  }

  #account_information_container #save_btn {
    margin-left: 156px;
  }

  #privacy_settings_container {
    padding-bottom: 9em;
  }

  #privacy_settings_container form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 10px;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    backdrop-filter: blur(10px);
  }

  .show-logout-question {
    width: auto;
    left: 170px;
  }

  .delete-acc-prompt {
    width: 50vw;
    top: 35%;
    left: 20%;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  #navigation {
    gap: 200px;
  }

  #navigation h3 {
    margin: 1em 0;
    font-size: 1.2rem;
  }

  #section {
    margin: 10px 51px;
    height: 160vh;
    padding-bottom: 4rem;
  }

  #account_information_container #save_btn {
    margin-left: 155px;
  }

  #privacy_settings_container {
    padding-bottom: 0em;
  }

  #privacy_settings_container form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 50px 30px;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    backdrop-filter: blur(10px);
  }

  .show-logout-question {
    width: auto;
    left: 280px;
  }

  .delete-acc-prompt {
    width: 50vw;
    top: 35%;
    left: 20%;
  }
}

@media (min-width: 1025px) {
  #navigation {
    gap: 500px;
  }

  #account_information_container #save_btn {
    margin-left: 150px;
  }

  #privacy_settings_container form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 30px 50px;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    backdrop-filter: blur(10px);
  }

  .show-logout-question {
    width: auto;
    left: 450px;
  }
}